@import 'tailwindcss';
@import './styles/_font-ubuntu.css';
@import './styles/_font-cuprum.css';
@import './styles/_font-roboto.css';
@import './styles/_font-manrope.css';

/* CSS variables */
:root {
  --background: #f9f9f9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Roboto, sans-serif; */
  /* font-family: Cuprum, sans-serif; */
  font-family: Manrope, sans-serif;
  /* font-family: 'Ubuntu Mono', sans-serif; */
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.title {
  color: #333;
  /* background: linear-gradient(167deg,#fedc2a 4.31%, #75aff2 49.13%, #0e6ca7 79.88%); */
}
